
body{
    font-family: 'Anonymous Pro', monospace;
    background-color: black;
}

#main {
    width: 1400px;
    display: flex;
    justify-content: center;
    margin: auto;

}
.pic_circle {
    border-radius: 50%;
    border: 3px solid red;
    width: 200px;
    height: 200px;
}
.txt-blanco {
    color: white;
    font-size: 32px;
}
.txt-gris{
    color: white;
    font-size: 52px;
}
.separator {
    width: 90%;
    height: 4px;
    background-color: aqua;
}
.content-centre {
    display: flex;
    justify-content: center;
}
.left-column {
    width: 30%;
    border: 2px solid blanchedalmond;
    height: 90vh;
    background-color: rgb(139, 134, 134);
    margin-top: 20px;
    padding: 20px;
}
.rigth-column {
    width: 70%; border: 2px solid rgb(49, 41, 28);
    height: 90vh;
    margin-top: 20px;
    background-color: blue;
}