
body{
    font-family: 'Anonymous Pro', monospace;
    background-color: #F0F0F0;
}

#main {
    width: 1400px;
    display: flex;
    justify-content: center;
    margin: auto;

}
.pic_circle {
    border-radius: 50%;
    border: 3px solid red;
    width: 200px;
    height: 200px;
}
.txt-xl{
    font-size: 48px;
}
.txt-l{
    font-size: 32px;
}
.txt-n {
    font-size: 16px;
}
.txt-s {
    font-size: 12px;
}
.txt-xs{
    font-size: 10px;
}
.txt-gray {
    color: rgb(158, 154, 154);
}

.txt-white{
    color: white;
    
}
.box-txt{
    max-width: 900px;
}
.separator {
    width: 90%;
    height: 4px;
    background-color: aqua;
}
.content-centre {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
}
.left-column {
    width: 30%;
    height: 90vh;
    background-color: rgb(8, 8, 130);
    margin-top: 20px;
    padding: 20px;
}
.rigth-column {
    width: 70%; 
    height: 90vh;
    margin-top: 20px;
    background-color: rgb(235, 235, 247);
    padding: 20px;
}