.container {
    background-color: black;
    width: 125px;
    height: 125px;
}

@media screen and( max-width: 576px) {
    .container {
        background-color: rgb(198, 43, 43);
        
    }
    
}

@media screen and(max-width:576px) {
    .container {
        background-color: #f7f7f7f;
        width: 250px;
        height: 250px;
    }
}