body {
    background-color: #888;
}

/*.container {
    height: 600px;
    width: 600px;
    border: 3px solid rgb(49, 11, 11);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end;
}*/

.container {
    width: 80%;
    background-color: wheat;
    border: 3px solid #666;
    margin: 40px auto;
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.columna {
    min-height: 100px;
    background-color: white;
    margin: 10px;
}

.total {
    display: flex;
    width: 100%;
}
.abajo {
display: flex;
flex-direction: column;
}
.uno {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.dos {
  
    width: 100%
}

.square {
    width: 100px;
    height: 100px;
    margin: 50px;
}

.red {
    background-color: red;


}

.pink {
    background-color: pink;

}

.blue {
    background-color: blue;


}

.green {
    background-color: green;

}