.contenedor {
    margin: 0 auto;
    width: 600px;
    color: w#1B365C;
    background-color: #FFE1E3;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heder {
    background-color: #1B365C;
    color: #FFE1E3;
    display: flex;
    flex-direction: column;
    border: 1px solid #FFE1E3;
    align-items: center;
    padding: 10px;
    border-radius: 20px;



}

.imagen {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 1px solid #1B365C;
    border-radius: 50%;
    background-image: url('assets/arreglo-festivo-50-cumpleanos-neon_23-2149089118.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    border-radius: 20px;
    border: 1px solid #1B365C;
    padding: 10px;
}

.locate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.coss {
    width: 50%;

}

.mapa {
    width: 50%;
}